#personal-cont {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 1.3rem;
  max-width: 800px;
}

#personal-cont h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--yellow);
  font-size: 1.6rem;
}

#personal-cont input:focus,
textarea:focus {
  outline: 1px solid var(--yellow);
}

.input-cont:first-of-type {
  margin-top: 0;
}

.input-cont,
label {
  width: 70%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-cont input,
.workField--cont input,
.eduField--cont input,
.langField--cont input,
.langField--cont select,
.certField--cont input {
  text-align: center;
  width: 60%;
}

#lang--cont,
#workExp--cont,
#edu--cont {
  width: 100%;
  max-width: 480px;
}

#personal-cont h2:first-of-type {
  margin-top: 0;
}

.add--btn {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border: 1.5px solid rgb(173, 173, 173);
  border-radius: 4px;
  transition: 0.2s all;
}

.add--btn:hover {
  border-color: var(--yellow);
  transform: scale(1.1);
}

.add--btn img {
  width: 90%;
}

.workField--cont,
.eduField--cont,
.langField--cont,
.certField--cont {
  flex-direction: column;
  gap: 5px;
  background-color: var(--gray);
  border-radius: 8px;
  padding: 10px 10px;
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.deleteJob,
.deleteEdu,
.deleteLang,
.deleteCert {
  color: rgb(151, 75, 75);
  font-weight: 100;
  font-size: 1rem;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.deleteJob img,
.deleteEdu img,
.deleteLang img,
.deleteCert img {
  width: 20px;
  transition: 0.2s all;
}

.deleteJob img:hover,
.deleteEdu img:hover,
.deleteLang img:hover,
.deleteCert img:hover {
  transform: scale(1.3);
}

.submit--btn {
  margin-top: 20px;
  width: 100px;
  padding: 5px 10px;
  font-weight: bold;
  border: none;
  background-color: var(--dark-blue);
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  align-self: center;
  transition: 0.2s all;
}

.submit--btn:hover {
  transform: scale(1.1);
  border: 2px solid var(--dark-blue);
  background-color: var(--gray);
  color: var(--dark-blue);
}

.langField--cont select {
  text-align: center;
  background-color: white;
  border: 1px solid rgb(173, 173, 173);
}

@media screen and (min-width: 600px) {
  html {
    font-size: 70%;
  }

  #inputs-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #personal-cont {
    width: 80%;
    align-items: center;
  }

  textarea {
    width: 100%;
  }

  #skills--cont.input-cont {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 75%;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 87.5%;
  }

  #personal-cont {
    margin-top: 100px;
  }

  .submit--btn {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 100%;
  }
}
