#personal-cont {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 1.3rem;
}

#personal-cont h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--yellow);
  font-size: 1.6rem;
}

#personal-cont input:focus,
textarea:focus {
  outline: 1px solid var(--yellow);
}

.input-cont:first-of-type {
  margin-top: 0;
}

.input-cont,
label {
  width: 70%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-cont input,
.workField--cont input {
  width: 60%;
}

#personal-cont h2:first-of-type {
  margin-top: 0;
}

.addWork--btn {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border: 1.5px solid rgb(173, 173, 173);
  border-radius: 4px;
  transition: 0.2s all;
}

.addWork--btn:hover {
  border-color: var(--yellow);
  transform: scale(1.1);
}

.addWork--btn img {
  width: 90%;
}

.workField--cont {
  flex-direction: column;
  gap: 5px;
  background-color: var(--gray);
  border-radius: 8px;
  padding: 10px 10px;
  margin-top: 10px;
  position: relative;
}

.deleteJob {
  color: rgb(151, 75, 75);
  font-weight: 100;
  font-size: 1rem;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.deleteJob img {
  width: 20px;
  transition: 0.2s all;
}

.deleteJob img:hover {
  transform: scale(1.3);
}
