#personal-cont {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 1.3rem;
}

#personal-cont h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--yellow);
  font-size: 1.6rem;
}

#personal-cont input:focus,
textarea:focus {
  outline: 1px solid var(--yellow);
}

.input-cont:first-of-type {
  margin-top: 0;
}

.input-cont {
  width: 70%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-cont input {
  width: 60%;
}

#personal-cont h2:first-of-type {
  margin-top: 0;
}
